.header {
    background: linear-gradient(90deg, #f7f7f7, #e0e0e0);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  
    .div_header {
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 1200px;
      max-width: calc(100% - 40px);
      margin: 0 auto;
      padding: 0 20px;
    }
  
    .div_logo > img {
      width: 140px;
      transition: transform 0.3s ease;
  
      &:hover {
        transform: scale(1.05);
      }
    }
  
    .div_search {
      width: 35%;
      display: flex;
      align-items: center;
      border-radius: 8px;
      overflow: hidden;
      background: white;
      border: 1px solid #ccc;
      height: 36px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
      @media screen and (max-width: 500px) {
        width: 60%;
      }
  
      > div {
        width: 40px;
        background-color: #1f86ed;
        height: 100%;
        display: grid;
        place-items: center;
        color: white;
        font-size: 18px;
      }
  
      > input {
        flex: 1;
        padding: 0 10px;
        height: 100%;
        border: none;
        font-size: 14px;
        outline: none;
  
        &::placeholder {
          color: #999;
        }
      }
    }
  }
  