:root {
    font-family:Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-green {
    background: #49d0b0;
  }
  .bg-red {
    background: #fa6d6b;
  }
  .bg-blue {
    background: #76befe;
  }
  .bg-yellow {
    background: #ffd76f;
  }
  .bg-brown {
    background: #544726c8;
  }
  .bg-purple {
    background: #9a6fff;
  }
  .bg-black {
    background: #111;
  }
  .bg-pink {
    background: #fc6cb4;
  }
  .bg-gray {
    background: #d3d3d3;
  }
  .bg-white {
    background: #fff;
  }
  .bg-all {
    background: #999;
  }

  .color-normal {
    background-color: #a8a77a;
  }
  .color-fire {
    background-color: #ff7402;
  }
  .color-water {
    background-color: #4592c4;
  }
  .color-electric {
    background-color: #f7d02c;
  }
  .color-grass {
    background-color: #9bcc50;
  }
  .color-ice {
    background-color: #51c4e7;
  }
  .color-fighting {
    background-color: #c22e28;
  }
  .color-poison {
    background-color: #a33ea1;
  }
  .color-ground {
    background-color: #ab9842;
  }
  .color-flying {
    background-color: #3dc7ef;
  }
  .color-psychic {
    background-color: #f366b9;
  }
  .color-bug {
    background-color: #a6b91a;
  }
  .color-rock {
    background-color: #b6a136;
  }
  .color-ghost {
    background-color: #4d5b64;
  }
  .color-dragon {
    background-color: #6f35fc;
  }
  .color-dark {
    background-color: #705746;
  }
  .color-steel {
    background-color: #9eb7b8;
  }
  .color-fairy {
    background-color: #d685ad;
  }
  